@model EmployeeHrSystem.Models.Department

<h2>Create Department</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>

    <button class="btn btn-success" type="submit">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>